body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
	touch-action: none;
}

a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

canvas {
	display: block;
	touch-action: none;
}

#info {
	position: absolute;
	top: 0;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	user-select: none;
	pointer-events: none;
	z-index: 1;
}

a,
button,
input,
select {
	pointer-events: auto;
}

.lil-gui {
	z-index: 2 !important;
}
